.body{
    /* background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg");
    background-repeat: no-repeat; */
    flex: 1 1 1px;
    padding: 3rem;
    height:50%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.text{
  color:black;
  font-size: 30px;
  font-family: 'Poppins', serif;
}